.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  box-sizing: border-box;
  margin: 40px auto;
  position: relative;
  background: rgb(86, 5, 247);
}
.player {
  z-index: 99;
  left: 0;
  position: absolute;
  border: solid #efefef;
  background: rgb(254, 211, 22);
}

.enemy {
  z-index: 99;
  left: 0;
  position: absolute;
  border: solid #efefef;
  background: rgb(175, 13, 47);
}

.bonus {
  z-index: 99;
  left: 0;
  position: absolute;
  border: solid #efefef;
  background: rgb(175, 13, 47);
}

.cell {
  box-sizing: border-box;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
